@import url(/scss/_menu.scss);
@import url(/scss/_variable.scss);
@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.socialBAR{
    position: fixed;
    left: 0%; 
    flex-direction: column;
    align-items: flex-end;
    padding-top: 10%;
    z-index: 1000;
        ul li{
        list-style: none;
        text-decoration: none;
        a{
            display: inline-block;
            color: white;
            padding: 15px 35px;
            &:hover{
                padding: 10px 60px;
                transition: all .4s;
            }
           
}
}
}

.nav-link:hover{
transform: scale(1.25);
transition-duration: 0.4s;
}


.icon-twitter{
    background: #00abf0;
    
}

.icon-instagram{
    background: #3f60a3;
}
.icon-youtube{
    background: #ae181f;
}

#ubicacion{
    margin-top: 3.25rem;
}

    
footer
{
  background-color:#0d47a1;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:white;
}

.footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.footer a
{
  color:white;
}
.footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:white
}


.contenedor{
    width: 90%;
    margin: 0%;
}

.foto-principal {
	font-size: 16px;
	min-height: 40.62em;
	color: #fff;
	background: url(imagenes/corousel9.jpg);
	background-position: center ;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
        .contenedor{margin: 0 auto;
            margin-bottom: 6.25em;}
}

.foto-principal .titulo {
	font-weight: 600;
	font-size: 2.80em;
	margin-bottom: 0.4em;
}

.foto-principal .descripcion {
	font-weight: normal;
	font-size: 1em;
	line-height: 1.75em;
	max-width: 50%;
	margin-bottom: 1.25em;
}

.foto-principal .boton {
	background: rgba(0,0,0, 0.5);
	border: none;
	border-radius: 0.31em;
	padding: 0.93em 1.87em;
	color: #fff;
	margin-right: 1.25em;
	cursor: pointer;
	transition: .3s ease all;
	font-size: 1.12em;
}

.foto-principal .boton:hover {
	background: #fff;
	color: #000;
    transition: all 1.5s;
}

#recomendados{
    bottom: 15%;
    background:#90caf9;
}
#recomendados .boton{
    background: white;
	border-radius: 0.31em;
    width: 100%;
	color: black;
	cursor: pointer;
	transition: .3s ease all;
	font-size: 1.57em;
}

#contacto{
    background-color: rgba(0,0,0, 0.5);
    background: #1976d2;
}

.DescripcionHeaderContentRight{
    font-size: 1.20rem;
    font-weight: 400;
    animation-delay: 4s;
    transition: 1.5s;
}

#botonHeaderContentRight{
    background-color: white;
    margin-left: 48%;
    margin-bottom: 1rem;
}

#botonHeaderContentRight:hover{
   transition: 3s;
   transform: scale(1.3);
   background: #1565c0;
}
#videotutorial{
    margin-top:  1.75rem;

}
.navbar-brand{
    color: #1B262C !important;
}
.nav-link{
    color: #1B262C !important;
}
.menu{
    background-color: #90caf9;
}
.posicionFoto{
    animation-delay: 4s;
}

.posicionFoto:hover{
    transform: scale(1.13);
    transition: all 0.5s;
 
}

#tituloContacto{
    text-align: center;
    color: white;
}
 
#parrafoContacto{
    text-align: center;
    color: white;
}
.calendario{
    display: grid !important;
    grid-template-columns: repeat(5 , 4fr);
    height: 1000px;

}
.instructivo{
    background:white

}
.tituloTemario{
    padding-top: 6.50rem;
   text-align: center;
   font-size: 1.5rem;
    font-weight: 800;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: all 1s;
    padding-left: 10%;
    padding-right: 10%;

}
.parrafoInstructivo{
    padding-top: 1.85rem;
    font: 600;
    font-size: 1rem;
    text-transform: bold;
    font-family:Arial, Helvetica, sans-serif;
    text-align: justify;
    text-transform: none;
    font-weight:lighter !important;
    text-align: justify;
    padding-bottom: 2.50rem;
    padding-left: 15%;
    padding-right: 15%;

}


$base-color: #b0eaff;

 @for $i from 1 through 23{
   .calendario#{$i}{
       background-color: darken($base-color, $i * 2%);
       border: 1px solid black;
       text-align: center;
       font-weight: bold;
   }
    
}

.turnos{
    text-align: center;
    text-transform: capitalize;
    background-color: gray; 
    margin-bottom: 0%;
    border: 2px solid black;
}



@media screen and (max-width: 720px){
    .contenedor{
        width: 48%;
        display: grid;
       grid-template-areas:"item1 item3 item6" 
                           "item2 item5 item7"
                           "item3 item6 item4" ;
     grid-template-columns: 1fr;
     grid-template-rows: 1fr;
     
    }
 
    .foto-principal {
        font-size: 15px;
        color: #fff;
        background: url(imagenes/corousel9.jpg);
        background-position: center ;
        background-size: cover;
        margin-bottom: 3.12em;
        display: flex;
        align-items: end;
            .contenedor{margin: 0 auto;
                margin-bottom: 1.25em;}
    }
    
	.foto-principal .descripcion {
		max-width: 100%;
	}



.foto-principal .titulo {
	font-weight: 600;
	font-size: 1.9em;
width: 100%;
    
}

.foto-principal .descripcion {
	font-weight: normal;
	font-size: 0.8rem;
	line-height: 1.25em;
	margin-bottom: 1.25em;
    width: 100%;
}

.foto-principal .boton {
	background: rgba(0,0,0, 0.5);
	border: none;
	color: #fff;
	cursor: pointer;
	transition: .3s ease all;
	font-size: 0.9rem;
    padding: 1rem 5rem;
    text-align: center;
    margin-bottom: 0.50rem;
}


}