@import url(/scss/_menu.scss);
@import url(/scss/_variable.scss);
@import url("https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.menu{
  background-color: #021d34 !important;

}

.socialBAR {
  position: fixed;
  left: 0%;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 10%;
  z-index: 100;
}
.socialBAR ul li {
  list-style: none;
  text-decoration: none;
}
.socialBAR ul li a {
  display: inline-block;
  color: white;
  padding: 15px 35px;
}
.socialBAR ul li a:hover {
  padding : 10px 60px;
  transition: all 0.4s;

}

.nav-link:hover {
  transform: scale(1.25);
  transition-duration: 0.4s;
}

.icon-twitter {
  background: #00abf0;
}

.icon-instagram {
  background: #3f60a3;
}

.icon-youtube {
  background: #ae181f;
}


footer {
  background-color: #021d34;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: white;
}

.footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}

.footer a {
  color: white;
}

.footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links li {
  display: block;
}

.footer-links a {
  color: white;
}

.contenedor {
  width: 90%;
  margin: 0%;
}

.foto-principal {
  font-size: 16px;
  min-height: 40.62em;
  color: #fff;
  background: url(imagenes/corousel9.jpg);
  background-position: center;
  background-size: cover;
  margin-bottom: 3.12em;
  display: flex;
  align-items: end;
}
.foto-principal .contenedor {
  margin: 0 auto;
  margin-bottom: 10.5rem;
}

.foto-principal .titulo{
  font-weight: 400;
  font-size: 2.4em;
  margin-bottom: 0.4em;
  background: rgba(0, 0, 0, 0.7);
  border: none;
  border-radius: 0.31em;
  padding: 0.23em 0.7em;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease all;
  max-width: 50%;
  text-align: center;
  text-transform: uppercase;
}

.foto-principal .descripcion {
  font-weight: normal;
  font-size: 1em;
  line-height: 1.75em;
  max-width: 50%;
  margin-bottom: 1.25em;
  background: rgba(0, 0, 0, 0.7);
  border: none;
  border-radius: 0.31em;
  padding: 0.93em 1.87em;
  color: #fff;
  margin-right: 1.25em;
  cursor: pointer;
  transition: 0.3s ease all;
  font-size: 1.12em;
  text-align: center;
}

.foto-principal .boton {
  background: rgba(0, 0, 0, 0.7);
  border: none;
  border-radius: 0.31em;
  padding: 0.93em 1.87em;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease all;
  font-size: 1.12em;
  width: 24.8%;
}

.foto-principal .boton:hover {
  background: #fff;
  color: #000;
  transition: all 1.5s;
}

#recomendados {
  bottom: 15%;
  background: #021d34;
}

#recomendados .boton {
background: rgba(0, 0, 0, 0.7);
color: white;
  border-radius: 0.31em;
  width: 100%;
  cursor: pointer;
  transition: 0.3s ease all;
  font-size: 1.57em;
}

#contacto {
  background-color: rgba(0, 0, 0, 0.5);
  background: #153f59;
  padding-left: 15%;
  padding-right: 15%;
}

.DescripcionHeaderContentRight {
  font-size: 1.2rem;
  font-weight: 400;
  animation-delay: 4s;
  transition: 1.5s;
}

#botonHeaderContentRight {
  margin-left: 48%;
  margin-bottom: 1rem;
  background-color: white;
}

#botonHeaderContentRight:hover {
  transition: 3s;
  transform: scale(1.3);
  background: #1565c0;
}

#videotutorial {
  margin-top: 1.75rem;
}

#logo{
  background: url(imagenes/logo.png);
}

.menu {
  background-color: #90caf9;
}
#navbar{
  padding-bottom: 0%;
}

.posicionFoto {
  animation-delay: 4s;
}

.posicionFoto:hover {
  transform: scale(1.13);
  transition: all 0.5s;
}

#tituloContacto {
  text-align: center;
  color: white;
}

#parrafoContacto {
  text-align: center;
  color: white;
}

.calendario {
  display: grid !important;
  grid-template-columns: repeat(5, 4fr);
  height: 1000px;
}

.instructivo {
  background-color: #000a23;
}

.tituloTemario {
  padding-top: 6.5rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: all 1s;
  padding-left: 10%;
  padding-right: 10%;
  color: white;
}

.parrafoInstructivo {
  padding-top: 1.85rem;
  font: 600;
  font-size: 1rem;
  text-transform: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  text-transform: none;
  font-weight: lighter !important;
  text-align: justify;
  padding-bottom: 2.5rem;
  padding-left: 15%;
  padding-right: 15%;
  color: white;
}

.calendario1 {
  background-color: #a6e7ff;
  border: 1px solid black;
  text-align: center;
  font-weight: bold;
}

.calendario2 {
  background-color: #9ce5ff;
  border: 1px solid black;
  text-align: center;
  font-weight: bold;
}

.calendario3 {
  background-color: #91e2ff;
  border: 1px solid black;
  text-align: center;
  font-weight: bold;
}

.calendario4 {
  background-color: #87dfff;
  border: 1px solid black;
  text-align: center;
  font-weight: bold;
}

.calendario5 {
  background-color: #7ddcff;
  border: 1px solid black;
  text-align: center;
  font-weight: bold;
}

.calendario6 {
  background-color: #73daff;
  border: 1px solid black;
  text-align: center;
  font-weight: bold;
}

.calendario7 {
  background-color: #69d7ff;
  border: 1px solid black;
  text-align: center;
  font-weight: bold;
}

.calendario8 {
  background-color: #5ed4ff;
  border: 1px solid black;
  text-align: center;
  font-weight: bold;
}

.calendario9 {
  background-color: #54d2ff;
  border: 1px solid black;
  text-align: center;
  font-weight: bold;
}

.calendario10 {
  background-color: #4acfff;
  border: 1px solid black;
  text-align: center;
  font-weight: bold;
}

.calendario11 {
  background-color: #40ccff;
  border: 1px solid black;
  text-align: center;
  font-weight: bold;
}

.calendario12 {
  background-color: #36c9ff;
  border: 1px solid black;
  text-align: center;
  font-weight: bold;
}

.calendario13 {
  background-color: #2bc7ff;
  border: 1px solid black;
  text-align: center;
  font-weight: bold;
}

.calendario14 {
  background-color: #21c4ff;
  border: 1px solid black;
  text-align: center;
  font-weight: bold;
}

.calendario15 {
  background-color: #17c1ff;
  border: 1px solid black;
  text-align: center;
  font-weight: bold;
}

.calendario16 {
  background-color: #0dbfff;
  border: 1px solid black;
  text-align: center;
  font-weight: bold;
}

.calendario17 {
  background-color: #03bcff;
  border: 1px solid black;
  text-align: center;
  font-weight: bold;
}

.calendario18 {
  background-color: #00b6f7;
  border: 1px solid black;
  text-align: center;
  font-weight: bold;
}

.calendario19 {
  background-color: #00aeed;
  border: 1px solid black;
  text-align: center;
  font-weight: bold;
}

.calendario20 {
  background-color: #00a7e3;
  border: 1px solid black;
  text-align: center;
  font-weight: bold;
}

.calendario21 {
  background-color: #009fd9;
  border: 1px solid black;
  text-align: center;
  font-weight: bold;
}

.calendario22 {
  background-color: #0098cf;
  border: 1px solid black;
  text-align: center;
  font-weight: bold;
}

.calendario23 {
  background-color: #0090c4;
  border: 1px solid black;
  text-align: center;
  font-weight: bold;
}

.turnos {
  text-align: center;
  text-transform: capitalize;
  background-color: #021d34;
  margin-bottom: 0%;
  border: 2px solid black;
  color: white;
}

@media screen and (max-width: 720px) {
  .contenedor {
    width: 48%;
    display: grid;
    grid-template-areas: "item1 item3 item6" "item2 item5 item7" "item3 item6 item4";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .foto-principal {
    font-size: 15px;
    color: #fff;
    background: url(imagenes/corousel9.jpg);
    background-position: center;
    background-size: cover;
    margin-bottom: 3.12em;
    display: flex;
    align-items: end;
  }
  .foto-principal .contenedor {
    margin: 0 auto;
    margin-bottom: 1.25em;
  }

  .foto-principal .descripcion {
    max-width: 100%;
  }

  .foto-principal .titulo {
    font-weight: 600;
    font-size: 1.9em;
    width: 100%;
  }

  .foto-principal .descripcion {
    font-weight: normal;
    font-size: 0.8rem;
    line-height: 1.25em;
    margin-bottom: 1.25em;
    width: 100%;
  }

  .foto-principal .boton {
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease all;
    font-size: 0.9rem;
    padding: 1rem 5rem;
    text-align: center;
    margin-bottom: 0.5rem;
  }
}

/*# sourceMappingURL=estilos.css.map */
